{{#if chat.length }}
    <table class="table table-dark">
            <tr>
                <th>Registro</th>
                <th>Email</th>
                <th>Mensaje</th>
            </tr>
            {{#each chat}}
            <tr>
                <td>{{this.fecha}}</td>
                <td>{{this.email}}</td>
                <td>{{this.mensaje}}</td>
            </tr>
            {{/each}}
    </table>
{{/if}}
